* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0px;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 1;
}

body {
}

nav {
    text-align: right;
    display: flex;
    align-items: center;
    margin: 10px;
}

.nav-img {
    height: 50px;
    margin-left: 10px;
    text-align: left;
}


nav ul {
    margin-left: auto;
    display: flex;
    padding-right: 10px;
    align-items: center;
  }

.menu-link {
    text-decoration: underline;
    margin-left: 20px;
    display: inline-block;
    align-items: center;
  }
  
main {
    position: relative;
    top: 69px;     
    max-width: 1200px;
    margin: auto;
}

div {
    width: 100%;
    position: relative;
    text-align: center;
}

.intro-header {    
    width: 1200px;
    height: 700px;   
    overflow: hidden;
}

.intro-header img {
    object-fit: cover;
}

.intro-txt {
    top: 350px;
    align-items: center;
    z-index: 1;
}

h2 {        
    font-size: 30px;
    font-weight: 700;
    padding: 10px;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    padding: 10px;
}
