* {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0px;
}

header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    z-index: 1;
}

nav {
    text-align: right;
    display: flex;
    align-items: center;
    margin: 10px;
}

.nav-img {
    height: 50px;
    margin-left: 10px;
    text-align: left;
}


nav ul {
    margin-left: auto;
    display: flex;
    padding-right: 10px;
    align-items: center;
  }

.menu-link {
    text-decoration: underline;
    margin-left: 20px;
    display: inline-block;
    align-items: center;
  }
  
main {
    position: relative;
    top: 69px;     
    max-width: 1200px;
    margin: auto;
}

div {
    width: 100%;
    position: relative;
    text-align: center;
}

.intro-header {    
    position: relative;
    width: 1200px;
    height: 700px; 
    overflow: hidden;
    margin-bottom: 100px;
}

.intro-header img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.intro-txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

h2 {        
    font-size: 36px;
    font-weight: 700;
    margin: 15px;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 2;
    margin-bottom: 10px;
}

h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 10px;
}

.tea-otm {
    width: 1000px;
    margin: 10px auto;
    margin-bottom: 150px;
}

.tea-otm-item {
    width: 300px;
    height: 200px;
    margin: 10px;
    margin-bottom: 20px;
    display: inline-block;
}

.tea-otm-txt {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.tea-otm-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 20px;
}

.tea-otm-item h4 {
    display: inline-block;
    padding: 0px;
    margin-top: 10px;
}

/* LOCATIONS SECTION */
.locations {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.location-boxes {
    display: inline-flex;
    justify-content: space-evenly;
    background-color: transparent;
}
.locations img {
    position: absolute;
    width: 100%;
    height: auto; 
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
}

.locations-txt-field {
    width: 300px;
    height: 300px;
    margin: 0;
    display: inline-grid;
    align-content: space-evenly;
}

.locations h2 {
    background-color: transparent;
    margin-bottom: 15px;
}

.locations-txt-field h4,p {
    height: 25px;
    margin: 0;
}

.contact {
    height: 200px;
}

/* FOOTER */
footer {
    position: relative;
    margin: 20px;
}
footer h5 {
    text-align: left;
}